/*이전 기본 설정*/
/* .bttn-default {
  color: #fff;
}
.bttn-primary,
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
  color: #B7F0B1;
}

.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}

.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}
.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.bttn-bordered {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
  overflow: hidden;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 4px;
  background: transparent;
  color: #fff;
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-bordered:hover,
.bttn-bordered:focus {
  border-color: rgba(255,255,255,0.7);
}
.bttn-bordered.bttn-xs {
  padding: 2px 6px;
  font-size: 12px;
  font-family: inherit;
}
.bttn-bordered.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}
.bttn-bordered.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
}
.bttn-bordered.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.bttn-bordered.bttn-default {
  border-color: rgba(255,255,255,0.4);
  color: #fff;
}
.bttn-bordered.bttn-default:hover,
.bttn-bordered.bttn-default:focus {
  border-color: rgba(255,255,255,0.7);
}
.bttn-bordered.bttn-primary {
    border-color: rgba(109, 106, 106, 0.77);
    color: #595959;
}
.bttn-bordered.bttn-primary:hover,
.bttn-bordered.bttn-primary:focus {
  border-color: rgba(237, 187, 50 ,0.7);
}
.bttn-bordered.bttn-warning {
  border-color: rgba(12, 12, 12, 0.77);
  color: #595959;
}
.bttn-bordered.bttn-warning:hover,
.bttn-bordered.bttn-warning:focus {
  border-color: rgba(27, 204, 171,0.7);
}
.bttn-bordered.bttn-danger {
  border-color: rgba(255,89,100,0.4);
  color: #ff5964;
}
.bttn-bordered.bttn-danger:hover,
.bttn-bordered.bttn-danger:focus {
  border-color: rgba(255,89,100,0.7);
}
.bttn-bordered.bttn-success {
  border-color: rgba(40,183,141,0.4);
  color: #28b78d;
}
.bttn-bordered.bttn-success:hover,
.bttn-bordered.bttn-success:focus {
  border-color: rgba(40,183,141,0.7);
}
.bttn-bordered.bttn-royal {
  border-color: rgba(189,45,245,0.4);
  color: #bd2df5;
}
.bttn-bordered.bttn-royal:hover,
.bttn-bordered.bttn-royal:focus {
  border-color: rgba(189,45,245,0.7);
}

 */


/* 
=---- 보라/사이트에서 퍼옴 ----- */
.btn {	
	width:100px;
    background-color: #fff;
    border-size: 3px;
    border-color:#74C043;
    color:#000;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius:10px;
}
.btn:hover {
    background-color: #74C043;
    color:#fff;
}


.btn2 {
	background:none;
  	border:0;
  	outline:0;
  	cursor:pointer;
}
.tab_menu_container {
  display:flex;
}
.tab_menu_btn {
  width:80px;
  height:40px;
  transition:0.3s all;
}
.tab_menu_btn.on {
  border-bottom:2px solid #df0000;
  font-weight:700;
  color:#df0000;
}
.tab_menu_btn:hover {
  color:#df0000;
}


#topMenu {            /* topMenu의 ID를 가진 태그의 스타일 지정 */
        height: 30px; 	/* topMenu의 높이를 30px로 설정(제대로 설정 안하면 아래 내용이 깨짐) */
        width: 850px; 	/* topMenu의 넓이를 850px로 설정(제대로 설정 안하면 브라우져 넓이가 좁아지면 깨짐) */
}
#topMenu ul li {                       /*  topMenu의 ID를 가진 태그 안에 <ul> 태그 안에 <li> 태그의 스타일을 지정 */
        list-style: none;           /*  <li> 태그는 위의 이미지처럼 목록을 나타내는 점을 없앤다  */
        color: white;                /* 글씨 색을 흰색으로 설정 */
        background-color: #2d2d2d;   /* 배경색을 진한 회색(RGB(2D,2D,2D)으로 설정 */
        float: left;                /*  <li>태그들이 왼쪽에 흐르게 설정(그러면 아래있는 내용은 오른쪽으로 옴) */
        line-height: 30px;           /* 글씨가 가운데로 오도록 설정하기 위해 한줄의 높이를 30px로 설정 */
        vertical-align: middle;     /*  세로 정렬을 가운데로 설정(위의 line-height와 같이 설정 필요함) */
        text-align: center;          /* 글씨 정렬을 가운데로 설정 */
}
#topMenu .menuLink {                               /* topMenu 아이디를 가진 태그 안에 있는 menuLink 클래스 태그들의 스타일 설정 */
        text-decoration:none;                       /* 링크(<a> 태그)가 가지는 기본 꾸밈 효과(밑줄 등)을 없앰 */
        color: white;                               /* 폰트색을 흰색으로 설정 */
        display: block;                             /* 링크를 글씨가 있는 부분 뿐만아니라 전체 영역을 클릭해도 링크가 걸리게 설정 */
        width: 150px;                               /* 메뉴링크의 넓이 설정 */
        font-size: 12px;                           /* 폰트 사이즈 12px로 설정 */
        font-weight: bold;                           /* 폰트를 굵게 */
        font-family: "Trebuchet MS", Dotum, Arial;  /* 기본 폰트 적용, 시스템 폰트를 종류별로 순서대로 */
}
#topMenu .menuLink:hover {            /* topMenu 아이디를 가진 태그 안에 menuLink클래스를 가진 태그에 마우스가 over되면 스타일 설정 */
        color: red;                    /* 글씨 색을 붉은색으로 설정 */
        background-color: #4d4d4d;     /* 배경색을 조금 더 밝은 회색으로 설정 */
}